body {
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    color:aqua;
    font-family:serif;
}

.box {
    position: relative;
    transform: translate(-50%), (-50%);
    border: (20% 20% 20% 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

fieldset {
    background-color: rgb(3, 43, 63);
    border: 4px solid white;
    padding: 30px;
}

.formulario {
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    border-radius: 11px;
    font-family: fantasy;
    color: aqua;
    font-size:x-large;
    letter-spacing: 2px;
}

.inputBox {
    position: relative;
    color: aqua;
    font-family:cursive;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 100%;
    letter-spacing: 3px;
    font-family:serif;
}

.labelInput{
    position:static;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .3s;
}

.inputUser:focus ~ .labelInput{
    top: -20px;
    font-size: 19px;
    color: rgb(1, 129, 129);
}

#data_nascimento{
    border: none;
    padding: 5px;
    outline: none;
    color: azure;
}

#submit{
    background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(0, 200, 200));
    width: 100%;
    border: none;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(0, 173, 173), rgb(0, 173, 173));
}

p{
    font-family: cursive;
    font-size: medium;
}